TELEGRAM_TOKEN=123456:telegram_token_here
NOTION_TOKEN=secret_notion_token_here
NOTION_DB_APUNTES_ID=notion_apuntes_database_id
NOTION_DB_RESUMENES_ID=notion_resumenes_database_id
GEMINI_API_KEY=gemini_api_key_here
PATH_HORARIO=assets/horario.png